<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TWJKHVP');</script>
  <!-- End Google Tag Manager -->
</head>
<h1>Chat Room</h1>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TWJKHVP"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<form>
  <input type="button" value="Googleでログイン" id="google"><br>
  <form action="/my-handling-form-page" method="post">
    <div>
      <label for="name">Name:</label>
      <input type="text" size="40" id="name">
    </div>

    <div>
      <label for="email">Email:</label>
      <input type="text" size="40" id="email">
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="text" size="40" id="pass">
    </div>

   <input type="button" value="登録" id="new"><br><br>
   <input type="button" value="ログイン" id="login"><br>
   <input type="button" value="ログアウト" id="logout"><br><br>

    <div class="dialog" id="member-dialog">
    <div class="dialog-header">
      <span class="dialog-title">Success！</span>
      <button type="button" class="dialog-close">
        閉じる
      </button>
    </div>
    <div class="dialog-content">
      <p>会員登録完了</p>
    </div>
    </div>

</form>
</form>
</body>
<form>
  <div>
    <label>コメント欄</label><br>
    <input type="text" size="40"　name="comment" id="chat"><br>
    <input type="button" value="ポチッと" id="post"><br><br>
  </div>
</form>
<div id="send"></div>